:root {
	--container-width: 1000px;

	--card-bg: #444;
	--card-cover-bg: #f1f2f3;

	--bg-color: #222;
	--text-color: #ffffff;
	--border-color: #333;
	--border-radius: 8px;

	--button-bg: #302b2b;
	--button-border-radius: 8px;
	--button-border: 1px solid var(--border-color);

	--button-bg-primary: #222;

	--button-box-shadow:
		0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	--button-box-shadow-hover:
		0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
